/trace_html/*
!/trace_html/*.css
!/trace_html/*.js
/test_output/**


.metadata
bin/
tmp/
dots/
dots/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Java annotation processor (APT)
.factorypath

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

